 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.dashboard-container {
    display: flex;
    min-height: 100vh;
    background: #ffffff;
}


.sidebar {
    width: 200px;
    background:  #E3000F;
    color: white;
    padding: 20px;
    
}

.sidebar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000000; 
}

.sidebar ul {
    list-style: none;
}

.sidebar li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px;
    border-radius: 5px;
    transition: 2s ease;
}

.sidebar li a.active, .sidebar li a:hover {
    background: #10100f;
    color: #ffffff;
    transform: translateX(5px);
}
